# Identifiant du projet Google Cloud
GOOGLE_CLIENT_ID==your-gcp-project-id

GOOGLE_CLIENT_SECRET=your-secret-cleitn

# Configuration pour l'authentification
NEXTAUTH_URL=http://localhost:3000

NEXTAUTH_SECRET=generated-secret-with
`openssl rand -base64 32`


