# Identifiant du projet Google Cloud
GOOGLE_CLOUD_PROJECT_ID=your-gcp-project-id

# Instance de la base de données Firestore
FIRESTORE_DATABASE_ID=thezaurus-dev

# Chemin vers le fichier de clé de compte de service au format JSON
GOOGLE_APPLICATION_CREDENTIALS=/chemin/absolu/vers/votre/cle-service-account.json
